.profile-page-container {
    margin-bottom: 5vh;
    text-align: center;
}

.logo-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 9vh;
    margin-left: 7vw;
}

/* .profile-body-container {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    margin-left: 500px;
    text-align: center;
} */

.input-container {
    align-items: center; 
    display: flex;
    gap: 20px;
    justify-content: start; 
    margin-bottom: 20px; 
    width: 80%;
}

.input-container.Job{
    margin-left: 0px;
}

.input-container.MS{
    margin-left: 0px;    
}

.input-container.Hb{
    margin-left: 0px;    
}

.description {
    font-family: "Itim", cursive;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
}

.relation {
    font-family: Inter;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #FFF4E3;
    border: 3px solid black;
    border-radius: 3%;
    width: 300px;
}

.input-box.Hb {
    width: 510px;
}

.input-box.Job {
    width: 460px;
}

.animated-image-button {
    height: 200px; 
    width: 200px; 
}

