.answer-panel-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
   
}

.answer-panel-button {
    margin-right: 40px;
}



.answer-panel-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}