.empty-main-box {
    width: 55vw;
    /* max-width: 60vw; */
    font-family: "Itim", cursive;
    font-size: 28px;
    background-color: #FFF4E3;
    border: 3px solid black;
    border-radius: 3%;
    /* padding: 40px; */
    padding: 40px;
}

.empty-main-container {
    display: flex;
    /* 激活Flexbox布局 */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: -150px; */
}

.dots {
    display: inline-block;
    margin-left: 4px;
}

.dots::after {
    content: '...';
    display: inline-block;
    animation: dots 2.2s infinite;
}

@keyframes dots {

    0%,
    10% {
        content: '';
    }

    30% {
        content: '.';
    }

    40% {
        content: '..';
    }

    50% {
        content: '...';
    }

    60% {
        content: '....';
    }

    70% {
        content: '.....';
    }

    80% {
        content: '......';
    }


    90%,
    100% {
        content: '.......';
    }
}