.top-box {
    width: 100%;
    height: 40px;
}

.first-prodict-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
}

.profile-end {
    margin-top: 70px;
    margin-bottom: 100px;
}

.detail-panel-profile-list {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top:-50px; */
}

.prodile-right-corner {
    position: fixed;
    /* 使用固定定位 */
    top: 10px;
    /* 距离顶部0 */
    right: 100px;
    /* 距离右侧0 */
}

.question-pic {
    position: fixed;
    left: 0;
    bottom: 100px;
}

.heart-pic {
    position: fixed;
    left: 0;
    bottom: 0;
}